@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
:root {
  --blue: #79a9f5;
  --indigo: #c45f90;
  --purple: #a16ae8;
  --pink: #fc8bc0;
  --red: #f85c70;
  --orange: #ff8882;
  --yellow: #fad02c;
  --green: #a3c14a;
  --teal: #20c997;
  --cyan: #47d8e0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3c78d8;
  --secondary: #6c757d;
  --success: #a3c14a;
  --info: #47d8e0;
  --warning: #ff8882;
  --danger: #f85c70;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #000;
  text-align: left;
  background-color: #9ed0f0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #3c78d8;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #f51330;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

template {
  display: none;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5rem;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.2;
}

h1,
.h1 {
  font-family: "Nunito Sans black", sans-serif;
  font-weight: 900; /* Nunito Sans black */
  font-size: 26px;
  text-align: left;
  color: #3c78d8;
}

h2,
.h2 {
  font-family: "Nunito Sans semibold", sans-serif;
  font-weight: 600; /* Nunito Sans semibold */
  font-size: 22px;
  text-align: center;
  color: #3c78d8;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

span,
p,
div {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #000;
}

p {
  text-align: justify;
}

.fuentes {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  text-align: right !important;
  color: #000;
}

.importante {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #0b5394;
}

.instruccion {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #8eafc4;
  padding: 0.03rem;
  min-height: 40px;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.container {
  background-color: #fff;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container-content {
  background-color: #fff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 108px;
  background-color: #8eafc4;
  border-radius: 0px;
  min-height: 50px;
}

/* Estilos para los elementos del navbar */
.nav-item {
  list-style: none;
  margin-right: 90px;
}

/* Estilos para los botones del navbar */
.nav-link {
  color: #3c78d8;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  transition: all 0.3s;
}

/* Estilo para el botón activo del navbar */
.nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.icono-t {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

.icono {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #3c78d8;
  color: #fff;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  font-size: 20px;
}

.icono-sm {
  font-size: 16px; /* Tamaño del ícono */
}

.header {
  background-color: #b1dafa;
  position: initial;
  height: 210px;
  width: 100%;
  object-fit: cover;
  background-image: url(../images/banner.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header .container {
  position: relative;
  height: 100%;
}

.header .header-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.header .header-content .header-subtitle {
  font-weight: 200;
  font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.header .header-content .header-title {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: 0.7;
  margin-bottom: 25px;
  color: inherit;
}

.header .header-content .header-mono {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 40px;
}

.imagen-t {
  width: 100%;
  height: auto;
}

.imagen {
  width: 200px; /* Ancho inicial */
  height: auto; /* Altura automática según la relación de aspecto */
  transition: all 0.3s ease; /* Transición suave */
  margin: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombras */
  border-radius: 10px; /* Redondea las esquinas */
}

.imagen:hover {
  transform: scale(1.1); /* Aumenta el tamaño */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el mouse */
}

.text-light {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.center {
  text-align: center;
}

.right {
  text-align: right !important;
}

.footer {
  color: #fff !important;
  background-color: #8eafc4;
  padding: 0.03rem;
  min-height: 40px;
}

.footer-txt {
  margin-left: 10px;
}
/* Media query para dispositivos de 375px hasta 575px */
@media (max-width: 375px) {
  .navbar {
    padding: 10px; /* Reducir el padding */
  }

  .nav-item {
    margin-right: 10px; /* Ajustar la separación entre elementos */
  }

  /* Estilos para los botones del navbar */
  .nav-link {
    color: #fff;
    background-color: #8eafc4;
    padding: 8px 15px;
    border-radius: 3px;
    transition: all 0.3s;
  }

  .nav-link:hover {
    color: #8eafc4;
    background-color: #fff;
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 3px;
    transition: all 0.3s; /* Transición suave para los cambios */
  }

  /* Estilo para el botón activo del navbar */
  .nav-link.active {
    color: #007bff; /* Color de texto blanco */
    background-color: #fff; /* Fondo azul */
  }
}

@media (max-width: 575px) {
  .navbar {
    padding: 15px; /* Reducir el padding */
  }

  .nav-item {
    margin-right: 20px; /* Ajustar la separación entre elementos */
  }

  /* Estilos para los botones del navbar */
  .nav-link {
    color: #fff;
    background-color: #8eafc4;
    padding: 8px 15px;
    border-radius: 3px;
    transition: all 0.3s;
  }

  .nav-link:hover {
    color: #8eafc4;
    background-color: #fff;
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 3px;
    transition: all 0.3s; /* Transición suave para los cambios */
  }

  /* Estilo para el botón activo del navbar */
  .nav-link.active {
    color: #007bff; /* Color de texto blanco */
    background-color: #fff; /* Fondo azul */
  }
}

/* Media query para dispositivos de 576px hasta 767px */
@media (max-width: 767px) {
  .navbar {
    padding: 30px; /* Reducir el padding */
  }

  /* Estilos para los botones del navbar */
  .nav-link {
    color: #fff;
    background-color: #8eafc4; /* Fondo blanco */
    padding: 8px 15px;
    border-radius: 3px;
    transition: all 0.3s;
  }

  .nav-link:hover {
    color: #8eafc4;
    background-color: #fff;
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 3px;
    transition: all 0.3s; /* Transición suave para los cambios */
  }

  /* Estilo para el botón activo del navbar */
  .nav-link.active {
    color: #007bff; /* Color de texto blanco */
    background-color: #fff; /* Fondo azul */
  }
}

/* Media query para dispositivos de 768px hasta 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 50px; /* Reducir el padding */
  }

  /* Estilos para los botones del navbar */
  .nav-link {
    color: #fff;
    background-color: #8eafc4;
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 3px;
    transition: all 0.3s; /* Transición suave para los cambios */
  }

  .nav-link:hover {
    color: #8eafc4;
    background-color: #fff;
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 3px;
    transition: all 0.3s; /* Transición suave para los cambios */
  }

  /* Estilo para el botón activo del navbar */
  .nav-link.active {
    color: #007bff; /* Color de texto blanco */
    background-color: #fff; /* Fondo azul */
  }
}

/* Media query para dispositivos de 992px hasta 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 50px; /* Reducir el padding */
  }

  .nav-link {
    padding-right: 0.3rem !important;
    padding-left: 0.3rem !important;
  }
}

/* Media query para dispositivos de 1200px hasta 1920px */
@media (min-width: 1200px) {
  .navbar {
    padding: 120px; /* Reducir el padding */
  }
}
